<h1>Список кур'єрів</h1>
<ul>
  <% @couriers.each do |courier| %>
    <li>
      <a href="/articles/<%= courier.id %>">
        <%= courier.name%>
        <%= courier.email%>
      </a>
    </li>
  <% end %>
</ul>
