<h1>Список кур'єрів</h1>
<ul>
  <% @couriers.each do |courier| %>
    <li>
      <a href="/articles/<%= courier.id %>">
        <%= courier.name %>
      </a>
    </li>
  <% end %>
</ul>

<h2>Відображення кур'єра</h2>
<h2>Зміна кур'єра</h2>
